<div class="note-wrap">
  <!-- <iframe src="https://www.baidu.com" id="inner" frameborder="0"></iframe> -->
  <div class="note-nav">
    <!-- <p  (click)="aa()">8888</p> -->
    <!-- <a href="http://www.w3schools.com" target="_blank">88888</a> -->
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/cloudtides/notebooks/newInstance" routerLinkActive="active">
        <clr-icon shape="plus-circle" solid></clr-icon>
        {{'HOME.NOTEBOOKS.NEW_INSTANCE.NEW_INSTANCE' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/cloudtides/notebooks/list" routerLinkActive="active">
        <clr-icon shape="list" solid></clr-icon>
        {{'HOME.NOTEBOOKS.LIST.INSTANCE_LIST' | translate}}
      </a>
    </clr-vertical-nav>
  </div>
  <div class="note-container">
    <router-outlet></router-outlet>
  </div>
  <div class="modal" *ngIf="noteBook.createInstanceFlag">
    <div class="modal-dialog fadeDown in" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <p class="create-title">{{noteBook.createInstanceTitle | translate}} {{'HOME.NOTEBOOKS.NOTEBOOKS' | translate}}</p>
        <form class="clr-form clr-form-horizontal">
          <div class="clr-form-control">
            <label for="example1" class="clr-control-label">{{'HOME.NOTEBOOKS.LIST.INSTANCE_NAME' | translate}}</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input name="instance-name" type="text" id="example1" [(ngModel)]="instanceForm.name" placeholder="Placeholder"  class="clr-input" />
              </div>
            </div>
          </div>
          <div class="clr-form-control">
            <label for="example2" class="clr-control-label">{{'HOME.NOTEBOOKS.NEW_INSTANCE.REGION' | translate}}</label>
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select placeholder="Select Option" name="region" id="example2" [(ngModel)]="instanceForm.region">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <clr-signpost>
                  <clr-signpost-content *clrIfOpen>
                    <h3>Default Signpost</h3>
                    <p>Position: <code class="clr-code">right-middle</code></p>
                  </clr-signpost-content>
                </clr-signpost>
              </div>
            </div>
            <label for="example3" class="clr-control-label label2">{{'HOME.NOTEBOOKS.LIST.ZONE' | translate}}</label>
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select placeholder="Select Option" id="example3" [(ngModel)]="instanceForm.zone" name="zone">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <clr-signpost>
                  <clr-signpost-content *clrIfOpen>
                    <h3>Default Signpost</h3>
                    <p>Position: <code class="clr-code">right-middle</code></p>
                  </clr-signpost-content>
                </clr-signpost>
              </div>
            </div>
          </div>
          <div class="option">
            <p class="option-title">
              {{'HOME.NOTEBOOKS.NEW_INSTANCE.INSTANCE_PROPERTIES' | translate}}
              <clr-icon shape="pencil" solid></clr-icon>

            </p>
            <ul class="option-list">
              <li>
                <label class="clr-control-label" for="input1">{{'HOME.NOTEBOOKS.LIST.ENVIRONMENT' | translate}}</label>
                <input clrInput type="text" name="environment" id="input1" [(ngModel)]="instanceForm.environment" >
              </li>
              <li>
                <label class="clr-control-label" for="input3">{{'HOME.NOTEBOOKS.NEW_INSTANCE.BOOT_DISK' | translate}}</label>
                <input clrInput type="text" name="bootdisk" id="input3" [(ngModel)]="instanceForm.bootDisk" >
              </li>
              <li>
                <label for="example4" class="clr-control-label">{{'HOME.NOTEBOOKS.NEW_INSTANCE.SUBNETWORK' | translate}}</label>
                <div class="clr-control-container">
                  <div class="clr-select-wrapper">
                    <select placeholder="Select Option" name="subnetwork" id="example4" [(ngModel)]="instanceForm.subnetwork">
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                    </select>
                  </div>
                </div>
              </li>
              <li>
                <label class="clr-control-label" for="input4">{{'HOME.NOTEBOOKS.NEW_INSTANCE.EXTERNAL_IP' | translate}}</label>
                <input clrInput type="text" name="instance-externalip" id="input4" [(ngModel)]="instanceForm.externalIp" >
              </li>
              <li>
                <label class="clr-control-label" for="input5">{{'HOME.NOTEBOOKS.LIST.PERMISSION' | translate}}</label>
                <input clrInput type="text" name="instance-permission" id="input5" [(ngModel)]="instanceForm.permission" >
              </li>
              <li>
                <label class="clr-control-label" for="input6">{{'HOME.NOTEBOOKS.NEW_INSTANCE.GPU_TYPE' | translate}}</label>
                <input clrInput type="text" name="instance-gpu" id="input6" [(ngModel)]="instanceForm.GPU" >
              </li>
              <li>
                <label class="clr-control-label" for="input7">{{'HOME.NOTEBOOKS.NEW_INSTANCE.Machine_TYPE' | translate}}</label>
                <div class="clr-control-container">
                  <div class="clr-select-wrapper">
                    <select placeholder="Select Option" id="input7" name="machinetype" [(ngModel)]="instanceForm.machineType">
                      <option>n1-standard-4(4 vCPUs,15 GB RAm)</option>
                    </select>
                  </div>
                </div>
              </li>
            </ul>
            <div class="footer">
              <!-- <p (click)="advancedOptions()" class="other-option">{{'HOME.NOTEBOOKS.NEW_INSTANCE.ADVANCED_OPTIONS' | translate}}</p> -->
              <div>
                <button (click)="cancel()" class="btn btn-outline">{{'HOME.POLICY.DIALOG.CANCEL' | translate}}</button>
                <button (click)="create()" class="btn btn-info-outline">{{noteBook.createInstanceTitle | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="noteBook.createInstanceFlag" class="modal-backdrop fade in" aria-hidden="true"></div>
</div>